<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <style>
        a{
            display: block;
            width: 500px;
            height: 40px;
            background-color: #eecc33;

        }
    </style>
</head>
<body>
<h1 th:inlines="text">文件列表</h1>
<div th:each="name:${filenames}">
    <a href="upload.html" th:text="${name}">1111</a>
</div>
</body>
</html>