<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
<!--    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">-->
    <script src="js/jquery-min-3.3.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body class="container">
<h1 th:inlines="text">文件列表</h1>
<div class="width:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>filename</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="name : ${pagenames}">
            <th scope="row" th:text="${nameStat.index + 1}">1</th>
            <td th:text="${name}"></td>
        </tr>
        </tbody>
    </table>
</div>
    <div class="modal-footer no-margin-top">
        <ul class="pagination pull-right no-margin">
            <!-- 首页 -->
            <li>
                <a th:href="'/getlist?pagenum=0'">首页</a>
            </li>

            <!-- 上一页 -->
            <li th:if="${pagenow}!=0">
                <a th:href="'/getlist?pagenum=' + (${pagenow}-1)" th:text="上一页"></a>
            </li>

            <!-- 中间页 -->
            <li th:each="pagenum:${#numbers.sequence(0,3)}">
                <a th:href="'/getlist?pagenum=' + ${pagenum}" th:text="${pagenum + 1}" ></a>
            </li>

            <!-- 下一页 -->
            <li>
                <a th:href="'/getlist?pagenum=' +(${pagenow}+1)" th:text="下一页"></a>
            </li>

            <!-- 尾页 -->
            <li>
                <a th:href="'/getlist?pagenum=' + ${lastpage}">尾页</a>
            </li>

        </ul>
    </div>
</body>
</html>